body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

div:empty {
  display: none;
}

.content {
  position: relative;
  min-height: 10em;
}

.antenna-entries {
  width: 80%;
  box-sizing: border-box;
  padding: 0.5em 0.5em 0.5em 1em;
  min-height: 15em;
}

.content > aside {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  padding-left: 1em;
}

hgroup.global {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  background: #8C8;
  background: -webkit-gradient(linear, left top, right top, from(#8c8), to(#fef));
  border-bottom: #CCECCC solid 0.2em;
  padding: 0.3em 0.5em;
  min-height: 65px;
  box-sizing: border-box;
  font-size: 160%;
  line-height: 1.8;
}

hgroup.global .site {
  position: absolute;
  top: 1px;
  right: 5px;
}

hgroup.global .site span {
  display: block;
  font-size: 70%;
  line-height: 1.0;
  text-shadow: none;
}

hgroup.global img {
  height: 40px;
}

hgroup.global * {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-shadow: 0.1em 0.1em #C0E0C0;
  color: #004000;
}

hgroup.global h3::before {
  content: " - ";
}

hgroup.global a {
  color: inherit;
  text-decoration: none;
}

.day-pager {
  display: table;
  width: 100%;
  font-size: 90%;
}

.day-pager:first-child {
  margin-bottom: 1em;
}

.day-pager:last-child {
  margin-top: 1em;
}

.day-pager > a {
  display: table-cell;
  width: 50%;
}

.day-pager > a:last-child {
  text-align: right;
}

.day-pager > a:first-child::before {
  content: "< ";
}

.day-pager > a:last-child::after {
  content: " >";
}

section.date {
  display: block;
  margin: 1em;
  border: 0.3em solid #dfd;
  border-radius: 1.5em;
  padding: 1em;
  box-shadow: 0.2em 0.2em #cceccc;
}

section.date > h1 {
  margin: 0;
  margin-bottom: 0.5em;
  text-shadow: 0.1em 0.1em #D0F0D0;
  color: #004000;
}

article {
  position: relative;
  display: block;
  margin: 0 0 0.5em;
}

article.mailing-list,
article.bts {
  margin-left: 2em;
}

article.editorial {
  opacity: 0.5;
}

article > a {
  display: block;
  margin: 0;
  padding: 0.3em;
  background-color: hsl(14, 20%, 95%);
  font-size: 100%;
  text-decoration: none;
}

article > a > h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: bolder;
  text-decoration: underline;
}

article > a.lsf-icon::before {
  color: black;
  margin-right: 0;
}

article.bts > a.lsf-icon::before {
  color: black;
  margin-right: 0.3em;
}

article > a > .topics {
  display: inline;
  font-weight: bolder;
  color: black;
}

article > a > .body {
  display: inline;
  color: black;
}

article .info {
  float: right;
  color: gray;
  font-size: 90%;
  text-align: right;
}

article .target, article .links {
  padding: 0.1em 0.3em;
  font-size: 80%;
  color: gray;
  display: inline;
}

article .directories {
  display: inline;
  color: gray;
  font-size: 80%;
  font-family: monospace;
  padding: 0.1em 0.3em;
}

article .body {
  padding: 0.3em;
  font-size: 100%;
  max-height: 5em;
  overflow: hidden;
}

article .links {
  margin-left: 2em;
}

article::after {
  display: block;
  content: "";
  clear: both;
}

img.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.calendar table {
  margin-left: auto;
  margin-right: auto;
}

.calendar caption {
  padding: 0.2em 0.5em;
}

.calendar caption .ym {
  font-weight: bolder;
}

.calendar caption .before {
  float: left;
}

.calendar caption .after {
  float: right;
}

.calendar td {
  text-align: center;
}

.calendar td a {
  display: inline-block;
  min-width: 1em;
  padding: 0.1em;
}

.ads {
  display: block;
  overflow: hidden;
}

code {
  color: orangered;
}

var {

}

@font-face {
  font-family: 'LigatureSymbols';
  src: url('https://world.suikawiki.org/fonts/LigatureSymbols.eot');
  src: url('https://world.suikawiki.org/fonts/LigatureSymbols.eot?#iefix') format('embedded-opentype'),
       url('https://world.suikawiki.org/fonts/LigatureSymbols.woff') format('woff'),
       url('https://world.suikawiki.org/fonts/LigatureSymbols.ttf') format('truetype'),
       url('https://world.suikawiki.org/fonts/LigatureSymbols.svg#LigatureSymbols') format('svg');
  src: url('https://world.suikawiki.org/fonts/LigatureSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf-icon::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-size: 120%;
  margin-right: 0.1em;
  line-height: 1.0;
}

body > footer {
  display: block;
  margin: 2em 0.5em 0 0.5em;
  border-top: #CCECCC solid 0.2em;
  padding: 0.2em 0.5em 0.5em;
  font-size: 80%;
}